# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries in Data Science.
- Demonstrate simple arithmetic operations in Python.

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Henry Maloba